/*
 * Copyright 2025 New Vector Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.container {
    display: flex;
    flex-direction: column;
    gap: var(--cpd-space-3x);
    width: 100%;
    box-sizing: border-box;
}

.description {
    text-align: center;
    margin: 0;
    margin-bottom: var(--cpd-space-2x);
    color: var(--cpd-color-text-secondary);
}
