/*
 * Copyright 2025 New Vector Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.dialog {
    padding: var(--cpd-space-5x);
    box-sizing: border-box;
    overflow: hidden;
}

.backButton {
    position: absolute;
    top: var(--cpd-space-6x);
    left: var(--cpd-space-6x);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--cpd-space-2x);
    margin-bottom: var(--cpd-space-9x);
}

.iconContainer {
    width: 64px;
    height: 64px;
    border-radius: 14px;
    background-color: var(--cpd-color-bg-subtle-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--cpd-space-2x);
}

.iconContainerCritical {
    background-color: var(--cpd-color-bg-critical-subtle);
}

.icon {
    color: var(--cpd-color-icon-secondary);
}

.iconCritical {
    color: var(--cpd-color-icon-critical-primary);
}

.title {
    text-align: center;
    margin: 0;
    font-size: var(--cpd-font-size-heading-md);
    font-weight: var(--cpd-font-weight-semibold);
}

.subtitle {
    text-align: center;
    margin: 0;
    color: var(--cpd-color-text-secondary);
}

.learnMore {
    text-align: center;
    margin-top: var(--cpd-space-1x);
}

.learnMoreLink {
    color: var(--cpd-color-text-primary);
    text-decoration: none;
    font-size: 14px;
    font-weight: var(--cpd-font-weight-semibold);
}

.learnMoreLink:hover {
    text-decoration: underline;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--cpd-space-2x);
}

.loadingText {
    text-align: center;
}
