/*
 * Copyright 2025 New Vector Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.container {
    display: flex;
    flex-direction: column;
    gap: var(--cpd-space-4x);
    width: 100%;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin: 0;
    font-weight: 600;
    color: var(--cpd-color-text-primary);
}

.infoBox {
    background-color: var(--cpd-color-bg-subtle-secondary);
    border-radius: var(--cpd-radius-md);
    padding: var(--cpd-space-3x);
    display: flex;
    flex-direction: column;
    gap: var(--cpd-space-2x);
}

.infoItem {
    display: flex;
    gap: var(--cpd-space-2x);
    align-items: flex-start;
}

.icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-top: 2px;
}

.iconSuccess {
    color: var(--cpd-color-icon-accent-primary);
}

.iconInfo {
    color: var(--cpd-color-icon-secondary);
}

.infoText {
    font-size: 14px;
    color: var(--cpd-color-text-primary);
}

.warning {
    text-align: center;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--cpd-color-text-primary);
}

.error {
    color: var(--cpd-color-text-critical-primary);
    text-align: center;
    margin: 0;
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--cpd-space-2x);
}

.loadingText {
    font-size: 14px;
}
