@import "@vector-im/compound-design-tokens/assets/web/css/compound-design-tokens.css";
@import "@vector-im/compound-web/dist/style.css";

:root {
    --primary-content: var(--cpd-color-text-primary);
    --secondary-content: var(--cpd-color-text-secondary);
}

/* cargo-culted from element call */
a {
    color: var(--cpd-color-text-link-external);
    text-decoration: none;
}

a:hover,
a:active {
    opacity: 0.8;
}

a:hover {
    text-decoration: underline;
}

.mx_Tauri_Titlebar {
    height: 30px;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* :root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
*/
